.drink-info-container {
  display: flex;
  justify-content: center;
  padding: 5em;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
  padding: 1em;
  height: 60vh;
}

.drink-card {
  margin: 1em;
}

.drink-card:hover {
  height: 400px;
  width: 300px;
}

.drink-image {
  height: 200px;
  width: auto;
}

/* .navbar-c-container {
  height: 6em;
  display: flex;
  align-items: center;
} */

.search-text {
  display: flex;
  padding: 2em;
  margin: 1em;

}